.BadgesList ul > li {
  margin-bottom: 1rem;
}

.BadgesListItem {
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 96px 1fr;
  grid-template-areas:
    "photo name"
    "photo username"
    "photo jobTitle";
}

.BadgesListItem > p {
  margin-bottom: 0;
}

.BadgesListItem .ItemPhoto {
  grid-area: photo;
}

.BadgesListItem .ItemName {
  grid-area: name;
  font-weight: 700;
}

.BadgesListItem .ItemTwitter {
  grid-area: username;
}

.BadgesListItem .ItemJobTitle {
  grid-area: jobTitle;
  font-size: 0.895em;
}

.BadgesListItem__avatar {
  border-radius: 50%;
  background: #a3a3a3;
  margin-right: 0.5rem;
  width: 80px;
  height: 80px;
}

